:root {
  --step--2: clamp(0.7813rem, 0.7759rem + 0.0268vi, 0.8rem);
  --step--1: clamp(0.9375rem, 0.9196rem + 0.0893vi, 1rem);
  --step-0: clamp(1.125rem, 1.0893rem + 0.1786vi, 1.25rem);
  --step-1: clamp(1.35rem, 1.2893rem + 0.3036vi, 1.5625rem);
  --step-2: clamp(1.62rem, 1.5248rem + 0.4759vi, 1.9531rem);
  --step-3: clamp(1.944rem, 1.8019rem + 0.7106vi, 2.4414rem);
  --step-4: clamp(2.3328rem, 2.1274rem + 1.0271vi, 3.0518rem);
  --step-5: clamp(2.7994rem, 2.5093rem + 1.4505vi, 3.8147rem);
}

.categoryProductContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 7rem;
  padding-top: 4rem;
  padding-bottom: 4rem;
  min-height: 50rem;
}

.categoryProductContainer:hover {
  cursor: pointer;
}

.productLink {
  text-decoration: none;
  color: black;
  border-radius: 3rem;
}

.productContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 350px;
  min-height: 500px;
  border: 3px solid grey;
  border-radius: 1rem;
}

.productImage {
  width: 95%;
  height: 300px;
  object-fit: auto;
}

.productDescriptionContainer {
  display: flex;
  flex-direction: column;
}

.productText {
  font-size: var(--step-0);
  font-weight: bolder;
  text-align: left;
  min-height: 5rem;
  padding-left: 1rem;
  padding-top: 1rem;
}

.productPrice {
  display: block;
  width: 100%;
  text-align: left;
  font-size: var(--step-1);
  padding-left: 1rem;
}

@media (min-width: 400px) {
  .categoryProductContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 7rem;
    min-height: 30rem;
  }
}

@media (min-width: 1280px) {
  .categoryProductContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    gap: 7rem;
    min-height: 30rem;
  }
}

@media (min-width: 1347px) {
  .categoryProductContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    gap: 7rem;
    padding-left: 20rem;
    min-height: 30rem;
  }
}
