:root {
  --step-0: clamp(1.125rem, 1.0893rem + 0.1786vi, 1.25rem);
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  background-image: url(../../assets/images/women.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

.mainText {
  font-size: var(--step-0);
}
