:root {
  --step-0: clamp(1.125rem, 1.0893rem + 0.1786vi, 1.25rem);
  --step-1: clamp(1.35rem, 1.2893rem + 0.3036vi, 1.5625rem);
  --step-2: clamp(1.62rem, 1.5248rem + 0.4759vi, 1.9531rem);
  --step-3: clamp(1.944rem, 1.8019rem + 0.7106vi, 2.4414rem);
  --step-4: clamp(2.3328rem, 2.1274rem + 1.0271vi, 3.0518rem);
  --step-5: clamp(2.7994rem, 2.5093rem + 1.4505vi, 3.8147rem);
}

.main {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.imageContainer {
  background-image: url(../../assets/images/men.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  opacity: 0.8;
  min-height: 73vh;
  width: 100%;
}

.imageTextContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  min-height: 73vh;
  padding-top: 2rem;
}

.imageText {
  font-size: var(--step-3);
  color: white;
  text-align: center;
  opacity: 1;
}

.imageLink {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--step-2);
  min-height: 3rem;
  border-radius: 0.3rem;
  width: 15rem;
  background-color: white;
  color: black;
  text-decoration: none;
}

.imageLink:hover {
  color: white;
  background-color: black;
  cursor: pointer;
}
